@font-face {
  font-family: regularRoboto;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: mediumRoboto;
  src: url(./assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: popone;
  src: url(./assets/fonts/MochiyPopPOne-Regular.ttf);
}

:root {
  --primary: #f80;
  --secondary: #eee;
}

.secondary_text {
  color: var(--secondary);
}

#App {
  background: #141414;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.title {
  color: #eee;
  font-family: popone;
}

.logofield {
  width: 4rem;
  height: 4rem;
}

.logofield a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.linksfield {
  width: 45%;
}

.linksfield a,
.lastfield a {
  font-size: 17px;
  font-family: regularRoboto;
  color: #f80;
}

.lastfield a {
  font-size: 1.5rem;
}

.lastfield a:hover {
  opacity: .9;
}

.active {
  display: flex;
  flex-direction: column;
  line-height: 1.2em;
}

.active::after {
  content: "";
  height: 3px;
  border-radius: 2px;
  background: var(--primary);
  animation: linkActiveAnimation .25s ease-in 0s forwards;
}

.diapo_product_image {
  animation: fade_in_left 1s ease 0s forwards;
}

.diapo_product_image img {
  width: 100%;
  height: 100%;
}

.diapo_products_name_and_desc {
  animation: fade_in_right 1s ease 0s forwards;
}

.diapo_products_name_and_desc h1 {
  font-size: 45px;
  font-family: popone;
  color: var(--primary);
}

.diapo_products_name_and_desc p {
  font-size: 17px;
  color: #ddd;
  font-family: popone;
}

.order_and_ingredients_btns a {
  font-size: 17px;
  font-family: regularRoboto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.order_and_ingredients_btns a:first-of-type {
  background: var(--primary);
  border-radius: 10px;
  color: #eee;
  margin-right: 1rem;
  transition: all .3s;
}

.needNumber {
  font-size: 14px !important;
  font-weight: lighter !important;
}

.order_and_ingredients_btns a:first-of-type:focus {
  filter: brightness(.8);
}

.order_and_ingredients_btns a:last-of-type {
  color: var(--primary);
}

.order_and_ingredients_btns a:last-of-type:focus {
  border: .1px dashed var(--primary);
  border-radius: 10px;
}

.card {
  background: transparent !important;
  border: .1px solid #3d3d3d !important;
  animation: fade_in_bottom 1s ease 0s forwards;
}

.card_img {
  width: 100%;
  height: 100%;
}

.card_img img {
  width: 75%;
  height: 75%;
}

.card_ordering h5 {
  font-family: popone;
  color: var(--primary);
}

.card_ordering .desc {
  height: 100px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inc_dec_btns {
  width: fit-content;
  height: fit-content;
}

.inc_dec_btns button {
  width: 3rem;
  height: 2.25rem;
  background-color: var(--primary);
}

.price_cart span {
  font-size: 17px;
  color: var(--primary);
  margin-right: 10px;
}

.price_cart button {
  background: var(--primary);
  font-size: 16px;
  padding: 8px 12px;
}

.about h1 {
  font-size: 45px;
  color: var(--primary);
  font-family: popone;
}

.contact h1 {
  font-size: 45px;
  color: var(--primary);
  font-family: popone;
}

.about div {
  font-family: popone;
  color: #eee;
}

.about .content {
  font-size: 17px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 400px;
  width: 100%;
}

.gmap_canvas iframe {
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary);
  border-radius: 10px;
}

.form-group {
  font-size: 17px;
  font-family: regularRoboto;
}

.form-group label {
  color: var(--primary);
}

.form-group input,
.form-group textarea {
  background: transparent;
  border: .1px solid #3d3d3d;
  transition: border .3s, box-shadow .3s;
}

.form-group input:focus,
.form-group textarea:focus {
  background-color: transparent;
  border: .1px solid var(--primary);
  box-shadow: 0 0 1px 1px rgba(255, 136, 0, 0.5);
}

.form-group textarea {
  background: transparent;
}

.form-group button[type="submit"] {
  background: var(--primary);
  color: #eee;
  transition: all .3s;
}

.form-group button[type="submit"]:focus {
  box-shadow: 0 0 1px 1px rgba(255, 136, 0, 0.5);
}

@keyframes linkActiveAnimation {
  from {
    width: 0rem;
  }

  to {
    width: 2rem;
  }
}

@keyframes fade_in_bottom {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes fade_in_left {
  from {
    transform: translateX(-5vw);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade_in_right {
  from {
    transform: translateX(5vw);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes navFading {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: .5em;
  background: #141414ef;
}
::-webkit-scrollbar-thumb {
  background: #3d3d3d;
}

@media (min-width: 768px) and (max-width: 992px) {
  .linksfield {
    width: 65%;
  }

  .diapo_products_name_and_desc h1 {
    font-size: 32px;
    margin: auto;
  }

  .diapo_products_name_and_desc p {
    font-size: 14px;
  }

  .order_and_ingredients_btns a {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .linksfield {
    position: absolute;
    width: 200px;
    height: 300px;
    background: #3d3d3d;
    top: 80px;
    left: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 3px #171717;
    animation: navFading .5s ease 0s forwards;
    z-index: 1;
  }

  .logofield {
    width: 8rem;
    display: flex;
    align-items: center;
  }

  .logofield a img {
    width: 64px;
    height: 64px;
  }

  .logofield button {
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    color: var(--primary);
    background: transparent;
  }
}

@media (max-width: 575px) {
  .logo_and_links {
    width: fit-content !important;
  }

  .container {
    max-width: 100% !important;
  }

  .diapo_products_name_and_desc h1 {
    font-size: 32px;
  }

  .diapo_products_name_and_desc p {
    font-size: 14px;
  }

  .order_and_ingredients_btns a {
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .about {
    font-size: 16px;
  }

  .about h1 {
    font-size: 30px;
  }

  .contact {
    font-size: 16px;
  }

  .contact h1 {
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  .diapo_products_name_and_desc h1 {
    font-size: 21px;
  }

  .diapo_products_name_and_desc p {
    font-size: 12px;
  }

  .order_and_ingredients_btns a {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}